@font-face {
  font-family: Interstate-Bold;
  src: url('./assets/OpenDyslexicMono-Regular.otf');
}

.link {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: Interstate-Bold, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
