:root {
  --bg-clr: #8c2b2b;
  --text-clr: #bfbc95;
  --random-red: #b63f4b;
}

* {
  padding: 0;
  margin: 0;
}

.navigator {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-clr);

  position: relative;
  display: grid;
  place-content: center;
}

.texture {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/felt.png');
  background-size: 100%;
  opacity: 0.1;
}

.logo {
  background-image: url('../assets/logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 250px;
  height: 165px;
}

.loginMenu {
  position: relative;
  width: 400px;
  height: 500px;
  display: grid;
  place-items: center;
  color: white;

  background-color: var(--random-red);
  background-image: url('../assets/wood.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.50), 0px 0px 14px -2px rgba(0,0,0,0.50) inset;
  -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.50), 0px 0px 14px -2px rgba(0,0,0,0.50) inset;
  -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.50), 0px 0px 14px -2px rgba(0,0,0,0.50) inset;
}

.homeMenuBtn {
  width: 40%;
}

.userInput {
  width: 80%;
}

.inst {
  color: #000;
  font-size: 1rem;
  text-align: center;
}


.popUp {
  z-index: 20;
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  font-size: 1.25rem;

  opacity: 0;
  max-width: 30%;
  border-radius: 20px;

  background-color: var(--bg-clr);
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.50), 0px 0px 14px -2px rgba(0,0,0,0.50) inset;
  -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.50), 0px 0px 14px -2px rgba(0,0,0,0.50) inset;
  -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.50), 0px 0px 14px -2px rgba(0,0,0,0.50) inset;
  
  animation: popup 5s linear;
}

@keyframes popup {
  0% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}