
.NotFoundPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tileRow {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
}